/* styles for the main page */
h1 {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section div {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  section div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }
  
  section div h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section div p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  section div p:last-child {
    font-weight: bold;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-right: 20px;
  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  